<nav>
  <div class="container">
    <div class="nav-con">
      <div class="logo">
        <a style="text-decoration: none; color: black; font-size: 30px; " href="/first"><h1>CofShop</h1></a>
      </div>
      <ul class="Menu">
        <li><a href="/">Menu</a></li>
        <li><a href="/Howto">How to</a></li>
      </ul>
    </div>
  </div>
</nav>
      <div class="service">
        <div class="box">
          <div class="card">
            <i class="fas fa-bars"></i>
            <h5>สูตรไม่ลับกับการชงกาแฟยังไงให้อร่อย</h5>
            <div class="pra">
              <p>กลิ่นอันหอมหวานของกาแฟย่อมดึงดูดใจใครหลายคนได้ดื่มด่ำกับรสชาติที่แสนหอมหวาน ละมุน จากกาแฟแก้วโปรดจนเป็นที่ชื่นชอบของใครหลายคน บางคนถึงกับต้องดื่มทุกเช้า บางคนดื่ม 2-3 แก้วต่อวันกันเลยก็มี  ไม่ว่าจะเป็นร้านแบรนด์ดังหรือร้านทั่วไปครั้นจะให้ซื้อกาแฟบ่อยๆประจำก็อาจจะแพงเกินไปหรืออาจจะอยากชงกินเอง ชงให้เจ้านายก็มี</p>
    
              <p style="text-align: center;">
                <a class="button" href="https://www.central.co.th/e-shopping/how-to-make-delicious-coffee" target="_blank">อ่านเพิ่มเติม</a>
              </p>
            </div>
          </div>
    
          <div class="card">
            <i class="far fa-user"></i>
            <h5>วิธีชงกาแฟสดให้อร่อยที่ทำง่ายๆ ได้ที่บ้าน</h5>
            <div class="pra">
              <p>สำหรับกาแฟจะอร่อยได้นั้นครับ มันจะต้องขึ้นอยู่การชงที่ถูกต้องเหมาะสมจริงไหมครับ? ไม่ว่าจะเป็นกาแฟแบบร้อน หรือว่าจะเป็นแบบเย็นก็ตาม โดยเฉพาะอย่างยิ่ง เพื่อน ๆ คนไหนที่กำลังเปิดร้านกาแฟเป็นของตนเองอยู่ หรือคนที่กำลังจะเริ่มเปิดร้านเป็นของตนเองก็ตาม</p>
    
              <p style="text-align: center;">
                <a class="button" href="https://tangthon.com/best-way-to-make-coffee/" target="__blank">อ่านเพิ่มเติม</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-content">
          <h3>CofShop</h3>
         <div class="footer-bottom">
          <p>copyright &copy;2022 CofShop Make by U2W</p>
          <div class="footer-menu">
       </div>
       </div>
       
      </div>
      </footer>